apiVersion: v1
kind: ConfigMap
metadata:
  name: alphacar-env
  namespace: alphacar
data:
  # [핵심] 이중화(ReplicaSet) 연결 문자열
  # 형식: mongodb://아이디:비번@노드1,노드2,노드3/DB명?옵션
  MONGO_URI: "mongodb://admin:123@mongodb-0.mongodb-headless.alphacar:27017,mongodb-1.mongodb-headless.alphacar:27017,mongodb-2.mongodb-headless.alphacar:27017/alphacar?authSource=admin&replicaSet=rs0"
  
  # 기존 호스트 변수 (하위 호환성용, 실제로는 URI가 우선됨)
  MONGO_HOST: "mongodb-0.mongodb-headless" 
  MONGO_PORT: "27017"
  MONGO_USER: "admin"
  MONGO_PASS: "123"
  MONGO_DB_NAME: "alphacar"
  MONGO_USER_AICHAT: "proj"
  MONGO_PASS_AICHAT: "1234"

  # Redis
  REDIS_HOST: "192.168.0.175"
  REDIS_PORT: "6379"

  # MariaDB
  MARIADB_HOST: "211.46.52.151"
  MARIADB_PORT: "15432"
  MARIADB_USER: "team1"
  MARIADB_PASS: "Gkrtod1@"
  MARIADB_DB_NAME: "team1"
  MARIADB_TYPE: "mariadb"

  # Observability
  OTEL_EXPORTER_OTLP_ENDPOINT: "http://192.168.0.175:4317"

  # Frontend
  FRONTEND_VERSION: "1.0.0"
  BACKEND_VERSION: "1.0.0"

  # Domain
  NIP_DOMAIN: "192.168.56.200"

  # Traefik Dashboard
  TRAEFIK_DASHBOARD_PORT: "8080"
